@model IEnumerable<GSM.Service.ViewModel.vwUserInfo>
@{
    ViewData["Title"] = "UserDetails";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>User Report</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Admin" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">User Report</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section contact">
    <div class="col-xl-12">
        <div class="card p-4">

          
           @using(Html.BeginForm("UserDetails","Admin",FormMethod.Post,new{Area="Admin"}))
            {
                    <div class="row gy-4">

                        <div class="col-md-3 ">
                            <label class="col-form-label"> Enter User Name </label>
                            <input type="text" name="name" class="form-control" placeholder="Enter User Name">
                        </div>

                        <div class="col-md-3">
                            <label class="col-form-label"> Enter User Email </label>
                            <input type="email" name="email" class="form-control" name="email" placeholder="Enter User Email">
                        </div>

                        <div class="col-md-3">
                            <label class="col-form-label"> Subcription From Date </label>
                            <input type="date"  name="txtFromDate" class="form-control" name="SubcriptionStart">
                        </div>

                        <div class="col-md-3">
                            <label class="col-form-label"> Subcription To Date </label>
                            <input type="date" name="txtToDate" class="form-control" name="SubcriptionEnd">
                        </div>

                        <div class="col-md-3">
                            <select class="form-select btn-block" name="Gender" aria-label="Select Gender">
                                <option selected>Select Gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Other</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <select class="form-select" name="IsActive" aria-label="Select InActive">
                                <option selected>Select Active/InActive</option>
                                <option value="1">Active</option>
                                <option value="2">InActive</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                         @Html.DropDownList("TraninerId", new SelectList(Model.Select(k => k.TrainnerName)), "Select Traniner",
                            new { id = "ddlTraniners", name="TraninerId" ,@class="form-select"})
                        </div>


                        <div class="col-md-3 text-center">
                            <input type="submit" class="btn btn-primary" value="Search"> &nbsp;&nbsp;
                            <input type="reset" class="btn btn-secondary" value="Reset">
                        </div>

                    </div>
            }
        </div>

        <div class="card p-4">
            <div class="row gy-4">
                <table id="example" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Phone)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Gender)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.TrainnerName)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.CreatedDate)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count() == 0)
                            {
                                <tr class="text-center">
                                    <td colspan="7"> Records not found </td>
                                </tr>
                            }
                            else
                            {
                                int no = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@no</th>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                        <td>
                                            @if (item.Gender == 1)
                                            {
                                                <label>Male</label>
                                            }
                                            else if (item.Gender == 2)
                                            {
                                                <label>Female</label>
                                            }
                                            else
                                            {
                                                <label>Other</label>
                                            }
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.TrainnerName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                    </tr>
                                    no++;
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
