@model IEnumerable<GSM.Service.ViewModel.vwUserInfo>

@{
    ViewData["Title"] = "Users";
}

<div class="pagetitle">
    <h1>Users</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Admin" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Users</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section contact">
    <div class="col-xl-12">
        <div class="card p-4">
            <div class="row gy-4">
                <table id="print" class="table">
                    <thead>
                        <tr>
                            <th class="col">#</th>
                            <th class="col">
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th class="col">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="col">
                                @Html.DisplayNameFor(model => model.Phone)
                            </th>
                            <th class="col">
                                @Html.DisplayNameFor(model => model.Gender)
                            </th>
                            <th class="col">
                                @Html.DisplayNameFor(model => model.Age)
                            </th>
                            <th class="col">
                                @Html.DisplayNameFor(model => model.PlanName)
                            </th>
                            <th class="col">
                                @Html.DisplayNameFor(model => model.TrainnerName)
                            </th>
                            <th class="col">
                                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.CreatedDate)  <i class="fas fa-arrows-alt-v"></i></a>
                            </th>
                            <th class="col">
                                <a asp-action="Create" class="btn btn-outline-primary"><i class="far fa-plus-square"></i>  Create New</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="4"> Records not found </td>
                                </tr>
                            }
                            else
                            {
                                int no = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                    <td>
                                    @no
                                    </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            @if (item.Gender == 1)
                                            {
                                                <label>Male</label>
                                            }
                                            else if (item.Gender == 2)
                                            {
                                                <label>Female</label>
                                            }
                                            else
                                            {
                                                <label>Other</label>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Age)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PlanName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TrainnerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>
                                        <td>
                                            <a asp-action="Update" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                                            <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle"></i></a> |
                                            <a href="@Url.Action("Delete", new { id = item.Id })" style="color :red;" onclick="return confirm ('Are you sure want to delete ?');">
                                                <i class="bi bi-x-circle"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    no++;
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script>
        function PrintElem()
        {
               $("#print").printThis({
                    header: "<h1>User List</h1>",
                    importCSS: true
               })
        }

        function CreatePDFfromHTML() {
        var HTML_Width = $("#print").width();
        var HTML_Height = $("#print").height();
        var top_left_margin = 15;
        var PDF_Width = HTML_Width + (top_left_margin * 2);
        var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;

        var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

        html2canvas($("#print")[0]).then(function (canvas) {
            var imgData = canvas.toDataURL("image/jpeg", 1.0);
            var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
            pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
            for (var i = 1; i <= totalPDFPages; i++) {
                pdf.addPage(PDF_Width, PDF_Height);
                pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
            }
            pdf.save("UserLists.pdf");
        });
    }
</script>